doctype html
html
    head
        title Dance website
        block style
    body
        nav#navbar
            ul
                li #[a(href="/" title="Home Page") Home]
                li #[a(href="/contact" title="contact Page") Contact Us]
        block content
        block footer
            footer
                p &copy; copyright Akash
        block script