@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');
:root {
    --heading-text:'Kanit', sans-serif;;
    --body-text:'Great Vibes', cursive;;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav#navbar ul{
    background-color:#f0dcdc;
    list-style-type: none;
    position:fixed;
    top:0;
    width:100%;
    z-index: 99;
}
nav#navbar ul li {
    display: inline-block;
    position: relative;
}
nav#navbar ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    font-family: var(--body-text);
    font-size: 18px;
    font-weight: 700;
    color: #444;
    transition: all .3s ease-in-out;
    

}
nav#navbar ul li a:hover {
    background-color: #f19797;
}
.container {
    width: 85%;
    margin: 55px auto;

}
.header {
    height:500px;
    background: url('/public/img/dance.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    filter: grayscale(50%);
}
.header .headerContent {
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -45%);
}
.header .headerContent h1 {
    font-family: var(--heading-text);
    line-height: 58px;
    font-size: 56px;
    text-align: center;
    color: #f2f2f2;
    text-transform: uppercase;
}
.header .headerContent button {
    display: block;
    margin: 25px auto;
    padding: 15px 35px;
    background-color: #f19797;
    outline: none;
    border: none;
    border-radius: 4px
}
.header .headerContent button a {
    text-transform: capitalize;
    color: #222;
    font-family: var(--body-text);
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}
.hero::after {
    content: "";
    display: table;
    clear:both;
}
.hero .heroImg, .hero .heroContent {
    float:left;
}
.hero .heroImg {
    width: 55%;
}
.hero .heroImg img {
    display: block;
    width: 100%;
}
.hero .heroContent {
    width: 45%;
    margin-top: 50px;
    padding-left: 40px;
}
.hero .heroContent h1 {
    font-family: var(--heading-text);
    font-size: 36px;
    color: #222;
    text-transform: capitalize;
}
.hero .heroContent p::first-letter {
    font-family: var(--body-text);
    font-size: 56px;
    color: #222;
    text-transform: uppercase;
}
.hero .heroContent p {
    font-family: var(--body-text);
    font-size: 20px;
    color: #222;
}
.hero .heroContent button {
    padding: 10px 25px;
    background-color: #f19797;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}
.hero .heroContent button a {
    text-transform: capitalize;
    color: #222;
    font-family: var(--body-text);
    font-size: 20px;
    text-decoration: none;
}