doctype html
html
    head
        title Dance website
        style
            include ../public/css/style.css
    body
        h1 this is about..





    script
        include ../public/js/myScript.js